.transaction-wrapper {
  border: 1px solid #000;
  padding: 20px;
  margin-top: 40px;
}
.transaction-wrapper title {
  text-align: left;
}
.transaction-list {
  text-align: left;
  margin: 20px 0 10px 0;
}
.transaction-list span {
  font-size: 17px;
  font-weight: 400;
}
